.phone-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.phone-contact-name {
  margin-left: 10px;
}

.phone-contact-phone {
  margin-left: 10px;
}

.phone-contact-delete {
  margin-left: 10px;
}
